.cart-thumbnail{
    width: 100px;
    margin: 10px;
}

.cart-container{
    min-height: 100vh;
    background-color: rgba(98, 125, 148, 0.157);
}

.card{
    background-color: white;
   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 10px auto;
}
.cart-btn{
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgb(248, 47, 47);
    
}
.cart-btn:hover{
    background-color: rgb(248, 47, 47);
}

.btn-group{
    display: flex;
    border: 1px solid grey;
    padding: 3px;
    justify-content: space-between;
    width: 100px;
}
.title{
    margin-top: 90px;
}
.btn-group button{
    width: 30px;
    height: 30px;
   background-color: transparent;
   border: none;
   border-radius: 50%;
  
}
.btn-group button:hover{
    background-color: transparent;
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}

.promo-btn{
    height: 40px;
    margin-top: 30px;
    font-weight: bolder;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid rgb(92, 128, 116);
}

.sb-total{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.checkout-btn{
    width: 90%;
    height: 30px;
    background-color: blue;
    border: none;

}
.checkout-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 110px;

}
.span{
    display: inline;
}
hr{
    width: 1px;
    width: 100%;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icons img{
    width: 70px;
}

#icon{
    color: white;
    margin-left: 130px;
}